<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>멤버 목록</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body onload="initPage();">

<div class="container">
    <div class="text-right">
        <button class="btn btn-dark" type="button" onclick="logout()">로그아웃</button>
    </div>
    <h1 class="text-center">멤버 목록</h1>

    <form class="d-flex">
        <div class="col-auto">
            <label>
                <select class="custom-select" name="selectType">
                    <option value="">타입 선택</option>
                    <option value="name">이름</option>
                    <option value="email">이메일</option>
                </select>
            </label>
        </div>
        <div class="col-auto">
            <label for="searchText">
                <input type="text" class="form-control" id="searchText" placeholder="검색어">
            </label>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary mb-3" type="button" onclick="searchMember()">검색</button>
        </div>
    </form>

    <form class="form">
        <div class="form-group">
            <table class="table table-hover text-center">
                <tr>
                    <th>No.</th>
                    <th>이메일</th>
                    <th>이름</th>
                    <th>마지막주문제품</th>
                </tr>
                  <tbody id="tBody"></tbody>
            </table>
        </div>
    </form>
    <ul class="pagination justify-content-center" id="pagingParent"></ul>
</div>

<script type="text/javascript">
    const pageSize = 5;

    function initPage() {
        getMemberList(0);
    }

    function searchMember() {
        getMemberList(0);
    }

    function getMemberList(index) {
        const params = {
            index: index,
            page: pageSize
        }

        const type = $('select[name=selectType]').val();
        if(type !== '') {
            if(type === 'name') {
                params.name = $('#searchText').val();
            } else {
                params.email = $('#searchText').val();
            }
        }

        $.ajax({
            url : "/api/v1/member",
            method : 'GET',
            contentType : 'application/json; charset=utf-8',
            data: params,
            dataType: "json",
            success : function(e) {
                console.log(e);
                const tBody = $('#tBody');
                const totalCount = e.totalElements;
                tBody.html("");

                if(e.size > 0) {
                    for (let i = 0; i < e.size; i++) {
                        const member = e.content[i];
                        const tr = $("<tr>").css('cursor', 'pointer')
                            .attr('onClick', 'location.href="/view/member/detail/' + member.id + '"').appendTo(tBody);
                        $("<td>").addClass("align-middle").text(totalCount - (pageSize * (list - 1)) - i).appendTo(tr);
                        $("<td>").addClass("align-middle").text(member.email).appendTo(tr);
                        $("<td>").addClass("align-middle").text(member.name).appendTo(tr);
                        $("<td>").addClass("align-middle").text(member.lastOrder != null ? member.lastOrder.productName : "주문정보가 없습니다.").appendTo(tr);
                    }
                } else {
                    const tr = $("<tr>").appendTo(tBody);
                    $("<td>").addClass("textCenter").attr("colspan", "4").text("등록된 데이터가 없습니다.").appendTo(tr);
                }

                const pagingBody = $("#pagingParent");
                pagingBody.html("");

                let totalPageCnt = (totalCount % pageSize === 0) ? totalCount / pageSize : (totalCount / pageSize) + 1;
                totalPageCnt = parseInt(totalPageCnt);

                for(let i = 1; i <= totalPageCnt; i++) {
                    const li = i === list ? $("<li>").addClass("page-item").addClass("active") : $("<li>").addClass("page-item");
                    li.append($("<a>").addClass("page-link").text(i))
                        .bind("click", i, function (ee) {
                            const page = ee.data;
                            getMemberList(page);
                    }).appendTo(pagingBody);
                }
            },
            error : function() {
                alert('통신실패!!');
            }
        });
    }

    function logout() {
        location.href="/logoutProc";
    }

</script>

</body>
</html>